html, body {
}

meni {
  margin: 10px;
}

.info-element {
  
 padding-left: 15px;

}

.rob
{
  border: 2px solid red;
}
.senca
{
box-shadow: 01px 2px 10px 0px rgba(0,0,0,0.75);
}


table {
  border-spacing: 0 10px;
}

button {
  background: white;

}

.restavracije {
  background: url(../slike/restaurant_logo_mini.png) no-repeat scroll;
  background-position: 4px 2px;
  height: 31px;
  padding: 7px;
  padding-left: 35px;
  vertical-align: top
}

telo {
  flex: 1;
  float: right;
  margin: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;;
  background-color: lightgray;
}

.fakultete
{
  vertical-align: middle;
  padding-right: 5px;
}

